* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*h1{
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    font-size: 20pt;
}*/

/*GENERELLE REGLER*/
body {
    background-color: #0E1E24;
    color: #CEA948;
}


h2 {
    color: #CEA948;
    font-size: 40pt;
    font-family: 'Playfair Display SC', serif;
    /*fontfamily*/
}

/*NAV A STREG UNDER VED AKTIV SIDE*/
nav a:nth-child(4){
    position:relative;
    color:#CEA948;
}

nav a:nth-child(4):before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #CEA948;
    transform-origin: left;
    transform: scaleX(1);
    text-decoration: underline;
}


.topbillede {
    background-image: url(images/dåseølheader.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    top: 100px;
}

/*SIDENS HOVEDOVERSKRIFT*/
.sideoverskrift {
    margin: 200px auto 80px;
    text-align: center;
    max-width: 820;
    position: relative;

    color: #CEA948;
    font-size: 30pt;
}

.sideoverskrift:before {
    content: '';
    display: block;
    width: 300px;
    height: 1px;

    background: #CEA948;
    position: absolute;
    left: 10%;
    top: 50%;
}

.sideoverskrift:after {
    content: '';
    display: block;
    width: 300px;
    height: 1px;

    background: #CEA948;
    position: absolute;
    right: 10%;
    top: 50%;
}

/*kontaktformular*/

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:800px;

    padding:150px;

}

.contactus p {
    display: flex;
    justify-content: center;
    text-align: center;

    position: relative;
    top:100px;
    width: 100%;
    height:225px;

    padding-left:100px;
    padding-right:100px;
    
}

/*kontaktformular*/
.contactformular {
    border: 1px solid #cea948;
    border-radius: 10px;
    background-color: #0E1E24;

    position: relative;
    flex-direction: column;
    width: 100%;

    margin-bottom: 200px;

    padding:40px;
    padding-left: 100px;
    padding-right:100px;

}

.field {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
    border: 1px solid #cea948;
    border-radius: 8px;

    outline: none;
    display: flex;
    background-color: #2f667a;
    color: #cea948;
    font-size: 16pt bold;


}

.field-textarea {
    height: 300px;
    width: 100%;

    margin-top: 20px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    
    border: 1px solid #cea948;
    border-radius: 8px;
    background-color: #2f667a;
    color: #cea948;

    font-size: 12pt bold;

}

.btn {
    display: flex;
    justify-content: center;

    color: #cea948;
    background-color: #2f667a;

    font-family: 'Playfair Display SC', serif;
    font-size: 12pt;

    border: none;
    cursor: pointer;

    width: 15%;
    border: 1px solid #cea948;
    border-radius: 8px;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

    transition:0.5s;
}

.btn:hover{
    background-color: #0E1E24;
}


/*BØLGER*/
.topbillede img {
    width: 100%;
    position: relative;
    top: 400px;
    /*skubbe bølgen ned af*/
}



/*kortudvalg til baren*/
/*.kortudvalgbar {
    display: flex;
    flex-direction: row;
    border: 1px solid #cea948;
    background-color: #204653;
    color: #cea948;
    border-radius: 22px;
    height: 500px;
    width:80%;
    margin-bottom: 100px;
    margin-right: 10%;
    margin-left: 10%;
    text-align:left;
    justify-content: center;
    
}

.kortudvalgbar .textcontainer {
    width: 100%;
}

.kortudvalgbar img {
    width: 120%;
}

.kortudvalgbar img {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    border: 2px solid #cea948;

}

.kortudvalgbar .textcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:left;
    text-align: center;
    text-align: center;
    padding: 50px 30px;

}



.kortudvalgbar div:nth-child(2) h1 {
    padding-top: 0px;
    margin-bottom: 25px;
    /*font-family: ???
}/*

/*.kortudvalg div:nth-child(2) p{ ARBEJD PÅ SENERE
}*/


/*kortudvalg til shoppen og baren*/
.kortudvalgshop,
.kortudvalgbar {
    display: flex;
    flex-direction: row;
    border: 1px solid #cea948;
    background-color: #204653;

    color: #cea948;
    border-radius: 22px;

    height: 400px;

    margin-bottom: 70px;
    margin-right: 10%;
    margin-left: 10%;
}

.kortudvalgbar img {
    height: 100%;
    width: 100%;

    border-radius: 20px;
    border: 2px solid #cea948;
}

.kortudvalgshop img {
    height: 100%;
    width: 135%;

    border-radius: 20px;
    border: 2px solid #cea948;
}

.kortudvalgshop .textcontainer,
.kortudvalgbar .textcontainer {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    line-height: 20px;
    text-align: left;
    padding: 50px 50px;
}

.textcontainer h1 {
    margin-bottom: 20px;
}

.find {
    margin-bottom: 40px;
}

/*Åbningstider*/

.openinghours {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

.firsttext {
    width: 50%;
    height: 450px;
    color: #CEA948;
    background-color: #204653;
    text-align: center;

    margin-top: 50px;
}

.secondtext {
    width: 50%;
    height: 450px;
    color: #CEA948;
    background-color: #2F667A;
    text-align: center;

    margin-top: 50px;
}

.openinghours h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28pt;
}

.openinghours p {
    padding: 10px;
    font-size: 14pt;
}