*{
    margin:0;
    padding:0;
    box-sizing: border-box;}

    body{
        background-color: #0E1e24
    }

    p{
        line-height: 1.6;
        font-size: 14pt;
    }

/*HEADER*/
header{
    border-bottom: #CEA948 solid 4px;
    position: fixed;
    background-color: #0E1E24;
    width: 100%;
    z-index: 1;
    height: 100px;
}

header img{
    position: relative;
    float: left;
}
nav a{
    text-decoration: none;
    color: #CEA948;
    margin-right: 40px;
    font-size: 16pt;
    padding-bottom: 30px;
    display: flex;
    align-items: right;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 50px;

}

nav a:hover{
    text-decoration: underline;
}

/*Baggrundsbillede*/
.baggrundbegivenheder{
background: url(images/baggrundbegivenheder.png);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 600px;
}

/*BØLGE*/
.wave{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    margin-top: -80px;

}

/*Header skrift*/
.overskrift{
    margin: 0 auto 15px;
    text-align: center;
    max-width: 820;
    position: relative;
    color: #CEA948;
    margin: 50px;
}

.overskrift:before{
    content:'';
    display: block;
    width: 200px;
   height: 1px;
   background: #CEA948;
   position: absolute;
   left: 30%;
   top: 50%;
}

.overskrift:after{
    content:'';
    display: block;
    width: 200px;
   height: 1px;

   background:#CEA948; 
   position: absolute;
   right: 30%;
   top: 50%;

   
}

/*Kort*/
.sektioner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    align-items: center;
    overflow: hidden;
}

.img{
    width: 50%;
}
.img:hover{
    transform: scale(1.1);
    transition: 1s;
}


.sektioner .text{
    width: 50%;
    height: 400px;
    color: #CEA948;
    background-color: #2F667A;
    text-align: left;
    padding: 100px;
}

.button{
    color: #CEA948;
    background-color: #0F2127;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;}

