*{
    margin:0;
    padding:0;
    box-sizing: border-box;}

    body{
        background-color: #0E1e24
    }


    h1{
        font-family: 'Playfair Display SC', serif;
        letter-spacing: 1px;
    
    }
    p{
        line-height: 1.3;
        font-size: 14pt;
        font-family: 'Arsenal', sans-serif;
        letter-spacing: 0.7px;
}

/*NAV A STREG UNDER VED AKTIV SIDE*/
nav a:nth-child(3){
    position:relative;
    color:#CEA948;
}

nav a:nth-child(3):before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #CEA948;
    transform-origin: left;
    transform: scaleX(1);
    text-decoration: underline;
}

/*Baggrundsbillede*/
.baggrundbegivenheder{
background: url(images/baggrundbegivenheder.png);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 600px;
}


/*BØLGE*/
.wave{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    margin-top: -80px;

}

/*BØLGE TO*/
.waveto{
    position: absolute; z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    margin-top: -80px;
}

/*Header skrift*/
.overskrift {
    display: flex;
    justify-content: center;

    text-align: center;
    margin: 100px auto 80px;
    max-width: 820;
    position: relative;

    color: #CEA948;
    font-size: 30pt;
}

.overskrift:before {
    content: '';
    display: block;
    width: 300px;
    height: 1px;

    background: #CEA948;
    position: absolute;
    left: 10%;
    top: 50%;
}

.overskrift:after {
    content: '';
    display: block;
    width: 300px;
    height: 1px;

    background: #CEA948;
    position: absolute;
    right: 10%;
    top: 50%;
}

/*Kort*/
.sektioner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    align-items: center;
    flex-wrap: wrap;
}

.sektioner .container{
    height:auto;
    width:50%;
    overflow:hidden;
    flex: 50%;
}

.container > img{
    width:100%;
    display: block;
    max-height: 400px;
    flex: 50%;
}
.container:hover img{
    transform: scale(1.1);
    transition: 2s;
}


.sektioner .text{
    width: 50%;
    height: 400px;
    color: #CEA948;
    background-color: #2F667A;
    text-align: left;
    padding: 100px;
    flex: 50%;
}

/*MOBIL*/
@media (max-width: 800px) {
    .container, .sektioner .text {
      flex: 100%;
    }
  }


/*Button*/
.button{
    color: #CEA948;
    background-color: #0F2127;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;}

.button:hover{
    background-color: #2F667A;
    color: #CEA948;
    border-color: #CEA948;
    transition: 0.5s;
    border-style: solid;
}

