*{
    margin:0;
    padding:0;
    box-sizing: border-box;}

    body{
        background-color: #0F2127;
    }

/*Header skrift*/
.header{
    margin: 0 auto 15px;
    text-align: center;
    max-width: 820;
    position: relative;
    color: #CEA948;
}

.header:before{
    content:'';
    display: block;
    width: 200px;
   height: 1px;
   background: #CEA948;
   position: absolute;
   left: 30%;
   top: 50%;
}

.header:after{
    content:'';
    display: block;
    width: 200px;
   height: 1px;
   background:#CEA948; 
   position: absolute;
   right: 30%;
   top: 50%;
}

/*Kort*/
.sektioner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    align-items: center;
}

.img{
    width: 50%;
    max-height: 400px;
    max-width: 50%;
}
.img:hover{
    transform: scale(1.1);
}


.sektioner .text{
    width: 50%;
    height: 400px;
    color: #CEA948;
    background-color: #2F667A;
    text-align: left;
    padding: 100px;
}

.button{
    color: #CEA948;
    background-color: #0F2127;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;}

