* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*GENERELLE REGLER*/
body {
    background-color: #0E1E24;
}

section {
    display: flex;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 1px;
    color: #CEA948;
}

p {
    line-height: 1.3;
    font-size: 14pt;
    font-family: 'Arsenal', sans-serif;
    letter-spacing: 0.7px;
    color: #CEA948;
}



/*GENERELLE REGLER FOR OVERSKRIFT*/
.overskrift {
    margin: 130px auto 50px;
    text-align: center;
    max-width: 820;
    position: relative;

    color: #CEA948;
    font-size: 12pt;
}

.overskrift:before {
    content: '';
    display: block;
    width: 40px;
    height: 1px;

    background: #CEA948;
    position: absolute;
    left: 5%;
    top: 50%;
}

.overskrift:after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;

    background: #CEA948;
    position: absolute;
    right: 5%;
    top: 50%;
}

/*GENERELLE REGLER FOR BILLEDER*/
.billedeto {
    background: url(images/glasomos.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.sectiontre {
    background: url(images/baggrundomos.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}

.billedeet {
    background-image: url(images/forsideomos.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

/*RESPONSIV*/
/*MOBIL*/
@media screen and (max-width:910px) {

    /*BAGGRUNDSBILLEDE I TOPPEN*/
    .billedeet{
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;
        top: 50px;

        width: 100%;
        height: 200px;
    }

    /*BØLGER*/
    .wave img{
        position: relative;
        bottom: 50px;
        height: 60px;
        top: 70px;
        width: 100%;
    }

    .wavetwo{
        position: relative;
        height: 50px;
        width: 100%;
        bottom: 10px;
    }
    .wave .wavetwo {
        position: relative;
        bottom: 20px;
    }


    /*OVERSKRIFT*/
    .overskrift{
        display: flex;
        justify-content: center;
    }

    .overskrift:before {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
    
        background: #CEA948;
        position: absolute;
        left: 15%;
        top: 50%;
    }
    
    .overskrift:after {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
    
        background: #CEA948;
        position: absolute;
        right: 15%;
        top: 50%;
    }

    /*SECTIONS MED TEKST OG BILLEDER*/
    .sectionet{
        display: flex;
        color: #CEA948;
    }

    .sectionto, .sectiontre{
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .sectionto{
        background-color: #204653;
        height: 600px;
    }

    .billedeto{
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;

        width: 100%;
        height: 500px;
    }

    .sectionet p{
        padding-bottom: 20px;

        text-align: center;

        margin-left: 30px;
        margin-right: 30px;
    }
    .sectiontre p{
        padding-top: 30px;
        text-align: center;

        margin-left: 30px;
        margin-right: 30px;
    }

    .sectionto p{
        padding-bottom: 30px;

        text-align: center;

        margin-left: 40px;
        margin-right: 40px;
    }

    .sectionto h1{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        margin-left: 30px;
        margin-right: 30px;
    }

    /*MØRK BAGGRUND PÅ BILLEDE*/
    .divtre{
        background:rgba(0,0,0,0.9);
    }
}

/*LAPTOP*/
@media screen and (min-width: 910px) {

    /*NAV A STREG UNDER VED AKTIV SIDE*/
    nav a:first-child {
        position: relative;
        color: #CEA948;
    }

    nav a:first-child:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #CEA948;
        transform-origin: left;
        transform: scaleX(1);
        text-decoration: underline;
    }

    /*BØLGE*/
    .wave {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 20px;
        bottom: 45px;
    }

    /*OVERSKRIFT*/
    .overskrift {
        display: flex;
        justify-content: center;

        text-align: center;
        margin: 100px auto 80px;
        max-width: 820;
        position: relative;

        color: #CEA948;
        font-size: 30pt;
    }

    .overskrift:before {
        content: '';
        display: block;
        width: 400px;
        height: 1px;

        background: #CEA948;
        position: absolute;
        left: 10%;
        top: 50%;
    }

    .overskrift:after {
        content: '';
        display: block;
        width: 400px;
        height: 1px;

        background: #CEA948;
        position: absolute;
        right: 10%;
        top: 50%;
    }

    /*FØRSTE SECTION MED TEKST*/
    .divet {
        text-align: center;
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 50px;
    }

    /*ANDEN SECTION MED BILLEDE OG TEKST*/
    .sectionto {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px;
    }

    .divto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;

        background-color: #204653;
        width: 50%;
        padding: 50px 30px;
    }

    .divto p {
        margin-bottom: 15px;
    }

    .divto h1 {
        margin-bottom: 20px;
    }

    /*BØLGE TO*/
    .wavetwo {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 50px;
        bottom: 40px;
    }

    /*TREDJE SECTION MED TEKST OG BAGGRUNDSBILLEDE*/

    .divtre p {
        text-align: left;
        padding-right: 800px;
        margin-top: 50px;
        padding-top: 60px;
        padding-left: 50px;
    }

}